@import "../base/base";
@import "../base/button";

// Layout
@import "../layout/header";
@import "../layout/posts";
@import "../layout/footer";

.posts-container {
  padding: 0 18px;
  &__header {
    text-align: left;
    font-size: $font-size-xl;
    font-weight: bold;
  }

  .post {
    padding: 12px 0;
  }
}
