@import "../base/base";
@import "../base/button";

// Layout
@import "../layout/header";
@import "../layout/footer";

.work_details {
  @media only screen and (width > 601px) {
    margin: 90px 235px 70px 235px;
  }

  &__presentations {
    display: block;
    gap: 25px;
    padding: 0 15px;

    .presentation {
      &__heading {
        margin-top: 32px;
        font-size: $font-size-l;
        font-weight: 900;

        @media only screen and (width > 601px) {
          font-size: $font-size-xl + 4;
        }
      }

      &__info {
        font-size: $font-size-xs;
        padding: 0;
        strong {
          border-radius: 50px;
          padding: 3px 15px;
          font-weight: bold;
          font-size: $font-size-xs;
          color: $white-color;
          background-color: $rose-color;
        }

        .sub-heading {
          display: flex;
          gap: 20px;
          margin-top: 23px;
        }

        .content {
          font-size: $font-size-xs;
          margin-top: 24px;
          margin-bottom: 17px;
        }
      }

      &__image {
        @media only screen and (width > 601px) {
          height: 460px;
        }
      }

      .mustang {
        margin-top: 23px;
      }
    }
  }
}

.pill {
  font-weight: 900;
  margin-top: 10px;
  @media only screen and (width > 601px) {
    font-size: $font-size-l;
  }
}

.footer-bottom {
  margin-top: 81px;
}
