@import "../base/base";

// Layout
@import "../layout/header";
@import "../layout/footer";

.works {
  @media only screen and (width > 601px) {
    margin: 90px 235px 70px 235px;
  }

  &__heading {
    @media only screen and (width > 601px) {
      font-size: $font-size-xxl + 2;
    }
  }

  &__presentations {
    .presentation {
      @media only screen and (width > 601px) {
        display: flex;
        gap: 18px;
      }

      &__image {
        @media only screen and (width > 601px) {
          min-width: 25ch;
          margin-bottom: 0;
        }
      }

      &__info {
        .heading {
          @media only screen and (width > 601px) {
            font-size: $font-size-xl;
          }
        }
      }
    }
  }

  hr {
    @media only screen and (width > 601px) {
      margin: 35px 0;
    }
  }
}
