@import "../base/base";

// Layout
@import "../layout/header";
@import "../layout/footer";

.header {
  .desktop-menu {
    &__links {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (width < 601px) {
      display: none;
    }
  }
}
