.footer-bottom {
  padding: 0 15px;
  margin-top: 150px;
  margin-bottom: 54px;
  align-items: center;

  &__social-icons {
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__copyright {
    font-size: $font-size-xxs;
  }
}
