.hero {
  margin-top: 50px;
  background-color: yellow;

  &__profile-image {
    background-image: url(img/shaia.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    border-radius: 50%;
    background-color: red;
    border: red;
    position: relative;
    z-index: 1;
  }

  .text-heading-l {
    font-size: $text-heading-l;
    font-weight: bold;
  }
}
