.posts-container {
  display: grid;
  gap: 17px;
  padding: 25px 10px;
  margin-top: 30px;

  @media only screen and (width > 601px) {  
    margin: 0 148px;
  }

  &__header {
    text-align: center;
    font-size: $font-size-s;
  }

  .post {
    display: grid;
    gap: 12px;
    background-color: $white-color;
    padding: 12px 19px;
    border-radius: 5px;

    &__heading {
      font-size: $font-size-m;
      font-weight: 900;
    }

    &__info {
      font-size: $font-size-xs;
    }

    &__text {
      font-size: $font-size-xs;
    }
  }
}
