@import "reset";

body {
  font-family: "Nunito", sans-serif;
  // max-width: 1440px;
}

a {
  text-decoration: none;
}

//Font Size
$font-size-xxl: 42px;
$font-size-xl: 30px;
$font-size-l: 24px;
$font-size-m: 22px;
$font-size-s: 18px;
$font-size-xs: 16px;
$font-size-xxs: 14px;

//Colors
$green-color: #09c372;
$android-green-color: #32de84;
$black-color: #000;
$white-color: #fff;
$rose-color: #ff6464;
$yellow-dark-color: #cddc39;
$carrot-color: #ff5722;
$lightblue-color: lightblue;
$ultra-lightblue-color: #edf7fa;
$darkblue-color: #142850;
