*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-weight: 400;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

// Headings
$text-heading-1: 32px;
$text-heading-4: 14px;

//Fonts
$font-size-medium: 18px;

//Colors
$green-color: #09c372;
$black-color: #000;
$white-color: #fff;
$rose-color: #ff6464;
$yellow-dark-color: #cddc39;
$carrot-color: #ff5722;
